body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-box{
    flex: 1; 
}

.option_wrap{
	cursor: pointer;
    text-align: center;
    color: white;
    background-color: #343a40;
}

.option_wrap p{
    cursor: pointer;
}

.selected{
    color: #343a40;
    background-color:white ;
}


